html, body {
    color: #333333;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-right: 15px;
    padding-left: 15px;
}
.header.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header.content:before, .header.content:after {
    display: none;
}
.header.content .nav-carro {
    display: flex;
    align-items: center;
    order: 2;
}
.page-header.type2.header-newskin .nav-toggle {
    float: none;
    order: 4;
    line-height: normal;
    margin: 0;
}
.page-header.type2.header-newskin .block-search {
    order: 1;
}
.page-header.type2.header-newskin .header.links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.page-header.type2.header-newskin .header.links li {
    padding: 0 .5em;
    margin-bottom: 0;
}
.page-header.type2.header-newskin .header.links li.customer-welcome {
    padding: 0;
}
.page-header.type2.header-newskin .header.links li.customer-welcome .action.switch {
    width: 20px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E30A18;
}
.page-header.type2.header-newskin .header.links li.customer-welcome .action.switch:after {
    margin: 0;
}
.page-header.type2.header-newskin .header.links li.customer-welcome .customer-menu .header.links {
    flex-direction: column;
}
.page-header.type2.header-newskin .header.links li.customer-welcome .customer-menu .header.links li {
    width: 100%;
    padding: 0;
}
.page-header.type2.header-newskin .header.links li.customer-welcome .customer-menu .header.links li:hover {
    background: white;
}
.page-header.type2.header-newskin .header.links li.customer-welcome .customer-menu .header.links li a {
    color: #333333 !important;
    text-align: center;
}
.page-header.type2.header-newskin .header.links li.customer-welcome .customer-menu .header.links li a:hover {
    color: #E30A18 !important;
}
.page-header.type2.header-newskin .header.links li.customer-welcome .customer-menu .header.links li.wishlist, .page-header.type2.header-newskin .header.links li.customer-welcome .customer-menu .header.links li.authorization-link {
    display: none;
}
.page-header.type2.header-newskin .header.links li a {
    font-size: .875em;
    color: #333333;
    font-weight: 700;
    text-decoration: none;
    transition: .3s;
}
.page-header.type2.header-newskin .header.links li a:hover {
    color: #E30A18;
}
.page-header.type2.header-newskin .header.links span.logged-in {
    display: block;
    font-size: .875em;
    color: #333333;
    font-weight: 700;
}
.page-header.type2.header-newskin {
    background-color: white;
}
.page-header.type2.header-newskin .logo {
    margin: 0;
    display: block;
    max-width: 100%;
    padding: .5em 0;
    order: 0;
}
.page-header.type2.header-newskin .minicart-wrapper .action.showcart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #E30A18;
    position: relative;
    opacity: 1;
    padding-right: 0;
    transition: .3s;
}
.page-header.type2.header-newskin .minicart-wrapper .action.showcart:hover {
    background-color: #333333;
}
.page-header.type2.header-newskin .minicart-wrapper .action.showcart:before {
    content: '\f814';
    position: relative;
    display: block;
    margin-right: .25em;
    font-size: 1.5em;
    color: white;
}
.page-header.type2.header-newskin .minicart-wrapper .action.showcart .counter.qty {
    position: relative;
    background-color: transparent;
    right: 0;
    margin-top: 0;
    line-height: normal;
    width: auto;
    height: auto;
    display: block;
    top: 0;
    border-radius: 0;
    font-size: .875em;
}
.page-header.type2.header-newskin.sticky-header .minicart-wrapper .action.showcart .counter.qty {
    right: -16px;
}
.page-header.type2.header-newskin .minicart-wrapper .action.showcart:after {
    display: none;
}
.page-header.type2.header-newskin .minicart-wrapper {
    position: relative;
    background: none;
    border: 0;
    box-shadow: none;
    width: auto;
    height: auto;
    margin: 0 0 0 1em;
    padding: 0;
    top: 0;
    right: 0;
    order: 3;
}
.page-header.type2.header-newskin.sticky-header .minicart-wrapper .action.showcart {
    border-color: #222529;
}
.page-header.type2.header-newskin.sticky-header .minicart-wrapper .action.showcart {
    border-color: #222529;
}
.page-header.type2.header-newskin .block-search input:focus, .page-header.type2 .search-category select:focus {
    box-shadow: none;
}
.header.panel>.header.links>li {
    text-transform: unset;
    text-decoration: none;
}
@media (min-width: 768px) {
    .page-header.type2.header-newskin .main-panel-inner {
        border-bottom: none;
    }
    .page-header.type2.header-newskin .panel.header {
        padding: 0;
    }
    .page-header.type2.header-newskin .header.panel > .header.links {
        display: flex;
        align-items: center;
    }
    .page-header.type2.header-newskin .navigation .level0 > .level-top:first-child {
        padding-left: 0;
    }
    .page-header.type2.header-newskin .panel.header .header.links > li, .page-header.type2.header-newskin .panel.header .header.links > li > a, .page-header.type2.header-newskin .switcher strong {
        padding: 0 1em 0 0;
        font-size: 12px;
        font-weight: 400;
        transition: .3s;
    }
    .page-header.type2.header-newskin .panel.header .header.links > li > a {
        transition: .3s;
    }
    .page-header.type2.header-newskin .panel.header .header.links > li > a:hover {
        color: #E30A18;

    }
    .page-header.type2.header-newskin .block-search input {
        padding: 0 0 0 2.5em;
        border-radius: 30px;
        height: 45px;
        color: #333333;
        transition: .3s;
    }
    .page-header.type2.header-newskin .block-search input:focus {
        border-color: #E30A18;
    }
    .page-header.type2.header-newskin .block-search .field.search {
        border-radius: 30px;
    }
    .page-header.type2.header-newskin .block-search .action.search {
        width: 40px;
        height: 40px;
        line-height: normal;
        margin-right: 0;
        background-color: transparent;
        border-radius: 0;
        padding: 0;
        top: 0;
        bottom: 0;
        right: .5em;
        margin: auto;
        border: none;
        cursor: pointer;
    }
    .page-header.type2.header-newskin .block-search .action.search:before {
        content: '\f818';
        color: #E30A18;
        font-size: 20px;
        transition: .3s;
    }
    .page-header.type2.header-newskin .block-search .action.search:hover:before {
        color: #333333;
    }
    .page-header.type2.header-newskin .block-search .action.search[disabled] {
        opacity: 1;
    }
    .page-header.type2.header-newskin.sticky-header .nav-sections {
        background-color: #fff;
    }
    .page-header.type2.header-newskin .navigation .level0 {
        margin-right: 0;
        float: none;
        vertical-align: middle;
    }
    .page-header.type2.header-newskin .navigation .level0 > .level-top {
        padding: 0 1.75em 0 0;
        font-size: 13px;
        text-transform: unset;
        font-weight: normal;
        line-height: normal;
        letter-spacing: normal;
        transition: .3s;
    }
    .page-header.type2.header-newskin .navigation .level0.fl-left .level-top {
        position: relative;
        padding: 1.125em 3.5em 1.125em 2em;
        text-transform: uppercase;
        font-weight: 700;
    }
    .page-header.type2.header-newskin .navigation .level0.fl-left .level-top:before {
        display: none;
    }
    .page-header.header-newskin .navigation li.level0.parent a.level-top:after {
        position: absolute;
        content: '\f827';
        height: 18px;
        font-size: 18px;
        color: white;
        padding-right: .5em;
        font-family: 'porto-icons';
        line-height: normal;
        margin: auto;
        vertical-align: middle;
        left: 0;
        top: 0;
        bottom: 0;
    }
    .product.data.items .item.title.active .data.switch, .product.data.items .item.title.active .data.switch:hover, .product.data.items .item.title.active .data.switch:focus {
        color: #333333;
        border-bottom: 2px solid #E30A18 !important;
    }
}
@media (min-width: 1220px) {
    .navigation, .page-wrapper > .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main, .container, .page-wrapper > .breadcrumbs .items, .sw-megamenu.navigation li.level0.fullwidth > .submenu {
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .page-main .block {
        margin-bottom: 0;
    }
    .page-header.type2.header-newskin .block-search {
        margin-left: 0;
        width: 600px;
    }
}
@media (min-width: 1440px) {
    .navigation, .page-wrapper > .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main, .container, .page-wrapper > .breadcrumbs .items, .sw-megamenu.navigation li.level0.fullwidth > .submenu {
        max-width: 1170px;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .page-header.type2.header-newskin .block-search {
        max-width: 375px;
    }
}
@media (max-width: 768px) {
    .header.content {
        flex-wrap: wrap;
        padding: 0;
    }
    .page-header.type2.header-newskin .logo {
        float: none;
        height: auto;
        margin: 0;
        padding-left: 15px;
    }
    .header.content .nav-carro {
        padding-right: 15px;
    }
    .page-header.type2.header-newskin .minicart-wrapper {
        margin: 0 .875em;
        padding: 0;
    }
    .page-header.type2.header-newskin .minicart-wrapper .action.showcart {
        background-color: transparent;
        border: 1px solid white;
    }
    .page-header.type2.header-newskin {
        background-color: #AA0913;
    }
    .page-header.type2.header-newskin .block-search {
        width: 100%;
        order: 4;
        padding: 0 15px;
        background-color: #333333;
    }
    .page-header.type2.header-newskin .block-search .field.search {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        border-radius: 0;
    }
    .page-header.type2.header-newskin .block-search .control  {
        width: 85%;
        margin: 0;
        padding: 0;
    }
    .page-header.type2.header-newskin .block-search .label {
        width: 35px;
        height: 35px;
        float: none;
        line-height: normal;
        margin: 0;
        margin-right: 0;
        margin-left: .35em;
        display: flex;
        border-radius: 100%;
        background-color: #e30b19;
        align-items: center;
        justify-content: center;
    }
    .page-header.type2.header-newskin .block-search .label:before {
        margin-top: 0;
        font-size: 15px;
        text-align: center;
        padding-left: 0;
        margin-right: 0;
        margin: 0;
        display: block;
        line-height: normal;
    }
    .page-header.type2.header-newskin .block-search input {
        position: relative;
        height: 35px;
        left: 0;
        margin: .75em 0;
        border-radius: 50px;
        border: none;
        padding: 0 1.5em;
    }
}
.products-grid .product-item-details .product-item-actions .tocart {
    text-transform: uppercase;
    font-size: 12.53px;
    font-family: 'Raleway';
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #6f6e6c;
    line-height: 30px;
    background-color: #f4f4f4;
    border-color: #f4f4f4;
}
.product-item .tocart:before {
    content: '\e87f';
    font-size: 17px;
    vertical-align: middle;
}
.product-social-links .action.towishlist:before, .product-addto-links .action.towishlist:before, .block-bundle-summary .action.towishlist:before, .product-item .action.towishlist:before, .table-comparison .action.towishlist:before {
    content: '\e889';
}
@media (min-width: 1200px) {
.products-grid.columns6 {
    margin-left: -10px;
    margin-right: -10px;
}
.products-grid.columns6 .product-item {
    padding: 10px;
}
}
.filterproduct-title {
    background: none;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    margin-bottom: 24px;
}
.filterproduct-title .content strong {
    font-weight: 600;
}
.filterproduct-title .content {
    padding: 0;
    background: transparent;
    text-transform: none;
}
.shop-by-cat-item.cat-has-icon:hover {
    color: #f4631b;
}
.footer-top .block.newsletter {
    width: 100%;
    margin: 20px 0;
}
.footer-top {
    padding: 0;
}
.footer-top .block.newsletter input::-webkit-input-placeholder {
    color: #8d8d8d;
}
.footer-top .block.newsletter input::-moz-placeholder {
    color: #8d8d8d;
}
.footer-top .block.newsletter input:-moz-placeholder {
    color: #8d8d8d;
}
.footer-top .block.newsletter input:-ms-input-placeholder {
    color: #8d8d8d;
}
.footer-top .block.newsletter .control:before {
    display: none;
}
.custom-support {
    text-align: center;
}
.custom-support i {
    background-color: transparent;
    float: none;
    color: #E30A18;
    width: auto;
    height: auto;
    border-radius: 0;
    padding-bottom: 20px;
    display: inline-block;
}
.custom-support div.content {
    margin-left: 0;
}
.custom-support div.content>h2 {
    text-transform: uppercase;
    font-size: 16px;
    color: #2b2b2d;
    line-height: 22px;
}
.custom-support div.content>em {
    color: #465157;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}
.custom-support div.content>p {
    font-size: 13px;
    line-height: 24px;
    color: #687176;
}
.product-item-name > a, .product.name a > a {
    color: #222329;
}
.price-box .price {
    font-family: 'Open Sans';
    letter-spacing: 0;
    font-weight: 600;
}
.footer .social-icons [class^="porto-icon-"] {
    color: #222529;
    font-size: 16px;
}
.social-icons > a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
}
.footer .social-icons a [class^="porto-icon-"] {
    color: inherit;
}
.footer .social-icons a[title="Facebook"]:hover {
    background-color: #3b5a9a;
    color: #fff;
}
.footer  .social-icons a[title="Twitter"]:hover {
    background-color: #1aa9e1;
    color: #fff;
}
.footer .social-icons a[title="Linkedin"]:hover {
    background-color: #7c4a3a;
    color: #fff;
}
.footer-middle .social-icons a {
    color: #222329;
    transition: all .3s;
}
.footer-middle {
    padding: 45px 0;
}
.footer-middle .block .block-title strong {
    font-size: 16px;
    font-weight: 700;
}
.footer-middle ul.links li {
    padding: 5px 0;
}
.footer-bottom {
    padding: 0 0 18px;
}
.footer-bottom > .container:before {
    content: '';
    border-top: 1px solid #e1e1e1;
    display: block;
    margin-bottom: 18px;
}
.footer-bottom address {
    float: left;
    line-height: 42px;
}
.page-wrapper > .breadcrumbs {
    max-width: 100%;
}
.page-wrapper > .breadcrumbs a, .page-wrapper > .breadcrumbs strong {
    text-transform: uppercase;
    font-weight: 700;
}
.page-main {
    padding: 0 15px;
}
.sidebar.sidebar-main {
    position: relative;
}
.block-category-list .block-title,.filter-options-title,.filter .filter-current-subtitle {
    border: none;
    background-color: transparent;
    padding: 16px 20px 4px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #21293c;
    letter-spacing: 0.01em;
}
.block-category-list .block-title {
    padding: 0 20px 0 20px;
}
.block-category-list .block-title strong {
    font-weight: 600;
}
.block-category-list .block-content,.filter-options-content {
    border: none;
    background-color: transparent;
    padding: 10px 20px 26px 20px;
    border-bottom: #efefef solid 1px;
    position: relative;
    z-index: 2;
    border-radius: 0;
}
.filter-current .items {
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 2;
}
.filter-current .item {
    padding-left: 20px;
}
.filter-current .action.remove {
    right: 20px;
    color: #21293c;
}
.filter-actions {
    border: none;
    background-color: transparent;
    border-bottom: #efefef solid 1px;
    position: relative;
    z-index: 2;
    padding-right: 20px;
}
.filter-actions a {
    color: #858585;
}
.filter-options-title:after {
    content: '\f882';
    border: none;
    color: #21293c;
    font-size: 11px;
    margin-top: -6px;
    right: 0;
}
.filter-options-title:hover:after {
    background: none;
    color: #21293c;
}
.active > .filter-options-title:after {
    content: '\f883';
}
#ln_slider_price.ui-slider-horizontal {
    height: 3px;
    box-shadow: none;
}
#ln_slider_price .ui-slider-handle {
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
.sidebar-title {
    font-size: 15px;
    font-weight: 600;
    color: #21293c;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    padding-left:20px;
    padding-right: 20px;
}
.porto-icon-left-open-huge:before {
    content: '\f802';
    color: #21293c;
}
.porto-icon-right-open-huge:before {
    content: '\f801';
    color: #21293c;
}
.sidebar .owl-top-narrow .owl-theme .owl-controls {
    top: -40px;
    right: -7px;
}
.sidebar .owl-top-narrow .owl-theme .owl-controls .owl-nav div *:before {
    color:#21293c;
}
.sidebar .product-items .product-item-name a {
    font-size: 12px;
    color: #5b5b5f;
    font-weight: 400;
}
.sidebar .sidebar-filterproducts {
    margin-bottom: 30px;
    padding-bottom: 40px;
    background: none;
    border-bottom: #efefef solid 1px;
}
.sidebar .product-items .product-item .product-reviews-summary {
    display: block;
}
.sidebar-filterproducts.custom-block + h2 {
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: 600;
    color: #21293c !important;
    letter-spacing: 0.01em;
    padding: 0 20px;
}
.sidebar-filterproducts.custom-block + h2 +h5 {
    font-family: 'Open Sans' !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #7a7d82 !important;
    letter-spacing: 0.022em;
    padding: 0 20px;
}
.sidebar-filterproducts.custom-block + h2 + h5 + p {
    color: #21293c !important;
    font-size: 15px !important;
    letter-spacing: 0.01em;
    padding: 0 20px;
}
.sidebar .custom-block {
    padding: 0 20px;
}
.category-boxed-banner.owl-theme .owl-controls {
    bottom: 0;
}
.page-products .toolbar .limiter {
    display: block;
}
.page-with-filter .toolbar-amount {
    display: none;
}
.full-width-image-banner {
    height: 300px;
}
.full-width-image-banner:after {
    display: none;
}
.full-width-image-banner h2 {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    line-height: 38px;
}
.full-width-image-banner p {
    font-size:18px;
    line-height:38px;
    font-weight: 700;
    text-transform:uppercase;
}
.full-width-image-banner .btn-default {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.025em;
    padding: 10px 20px;
    background-color: #010204;
    color: #fff;
    font-family: 'Raleway';
    text-transform: uppercase;
    border-radius: 2px;
    margin-top: 31px;
}
.page-products .toolbar .limiter .limiter-text {
    display: none;
}
.modes-mode.active {
    border: none;
    background: none;
    color: #111;
}
.modes-mode,.modes-mode:hover {
    border: none;
    background: none;
    color: #111;
    width: 15px;
}
.toolbar select {
    border: 1px solid #e4e4e4;
    height: 37px;
    color: #7a7d82;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    padding: 0 10px;
    padding-right: 30px;
    line-height: 31px;
}
.toolbar-sorter .sorter-action {
    margin-top: 6px;
    color: #21293c;
}
.toolbar-sorter .sorter-action:before {
    color: #21293c;
}
.pages a.page,.pages strong.page,.pages .action {
    width: 32px;
    line-height: 32px;
}
.products-grid + .toolbar.toolbar-products {
    border-top: solid 1px #efefef;
    padding-top: 25px;
}
.product-item .product-reviews-summary {
    background: none;
}
.product.name a {
    color: #5b5b5f;
}
.old-price .price, .old.price {
    font-size: 14px;
}
.product-label.sale-label {
    border-radius: 20px;
    color: #ffffff;
}
.product-label.new-label {
    border-radius: 20px;
    color: #ffffff;
}
.product-labels .product-label {
    height: 21px;
    font-size: 11px;
    line-height: 21px;
    padding: 0 10px;
}
.products-grid .product-item-details .product-item-actions .tocart {
    text-transform: uppercase;
    font-size: 12.53px;
    font-family: 'Raleway';
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #6f6e6c;
    line-height: 30px;
    background-color: #f4f4f4;
    border-color: #f4f4f4;
}
.product-item .tocart:before {
    content: '\e87f';
    font-size: 17px;
    vertical-align: middle;
}
.catalog-product-view .sidebar .custom-block {
    border: none;
    color: #6b7a83;
    padding-bottom: 0;
    margin-bottom: 33px;
    background: none;
}
.catalog-product-view .sidebar .custom-block-1>div i {
    color: #F4631B;
    border: none;
    font-size: 40px;
    float: left;
}
.catalog-product-view .sidebar .custom-block-1>div {
    min-height: 65px;
    clear: both;
    padding: 18px 0;
    border-bottom: solid 1px #dee5e8;
    margin-bottom: 0;
}
.catalog-product-view .sidebar .custom-block-1>div:last-child {
    border-bottom-width: 0;
}
.block-manufacturer {
    text-align: center;
    padding: 10px 20px 0;
    margin-bottom: 0;
}
.block-manufacturer hr {
    border-color: #dee5e8;
    margin-bottom: 0;
}
.catalog-product-view .sidebar .custom-block-1>div h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #6b7a83;
    margin-left: 80px;
}
.block.related {
    padding: 0 20px;
}
.block .title strong {
    font-size: 15px;
    font-weight: 600;
    color: #21293c;
    letter-spacing: 0.01em;
    margin-bottom: 20px !important;
    padding-top: 0;
    text-transform: uppercase;
}
.block.related .product-items .product-item-actions {
    display: none;
}
.product-info-main .page-title-wrapper h1 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.01em;
    color: #21293c;
    margin: 3px 0 15px;
}
.prev-next-products a {
    color: #555;
}
.product-reviews-summary .reviews-actions a {
    line-height: 20px;
    font-size: 14px;
    color: #bdbdbd;
}
.product-info-main .product.overview {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 27px;
    border-bottom: solid 1px #dae2e6;
}
.product.media {
    padding-right: 12px;
}
.fotorama__stage__shaft {
    border: none;
}
.fotorama__nav--thumbs .fotorama__thumb {
    border-color: #dae2e6;
}
.product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price {
    font-family: 'Raleway';
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.005em;
}
.product-info-main .product-info-price .old-price .price-wrapper .price {
    font-size: 16px;
    color: #2b2b2d;
    font-weight: 400;
}
.product-info-main .fieldset > .field.qty, .product-info-main .nested.options-list > .field.qty {
    position: relative;
    width: 106px;
}
.product-info-main .qty.field .control, .product-info-main .qty.field .qty-changer {
    margin-left: 29px;
}
.product-info-main .qty.field .qty-changer > a {
    position: absolute;
    top: 0;
    left: 0;
    height: 43px;
    width: 30px;
    line-height: 41px;
    text-align: center;
    margin: 0;
    border-color: #dae2e6;
}
.product-info-main .qty.field .qty-changer > a:first-child {
    left: auto;
    right: 4px;
}
.product-info-main .box-tocart .input-text.qty {
    font-family: 'Raleway';
    display: inline-block;
    vertical-align: middle;
    height: 43px;
    width: 44px!important;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #61605a;
    margin: 0;
    border-color: #dae2e6;
}
.product-info-main .qty.field .qty-changer > a .porto-icon-up-dir:before {
    content: '\f882';
}
.product-info-main .qty.field .qty-changer > a .porto-icon-down-dir:before {
    content: '\f883';
}
.catalog-product-view:not(.weltpixel-quickview-catalog-product-view):not(.weltpixel_quickview-catalog_product-view) .box-tocart .action.tocart {
    height: 43px;
    font-size: 14px;
    letter-spacing: 0.05em;
    font-weight: 400;
}
.box-tocart .action.tocart:before {
    content: '\e87f';
    font-family: 'porto-icons';
    margin-right: 7px;
    font-size: 16px;
}
.action.primary,.action.primary:active {
    text-transform: uppercase;
}
.product-addto-links .action.towishlist,.product-addto-links .action.tocompare,.product-social-links .action.mailto.friend {
    width: 43px;
    height: 43px;
    line-height: 41px;
    color: #302e2a;
}
.product.data.items > .item.content {
    background-color: #fff;
    box-shadow: none;
    border: none;
    border-top: #dae2e6 solid 1px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 27px;
}

.main-upsell-product-detail .block.upsell .title strong {
    background: none;
}
.block.upsell .title {
    background: none;
    border-bottom: #e1e1e1 solid 1px;
    font-weight: 700;
    margin-bottom: 16px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: left;
}
.block.upsell .title strong {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Raleway';
    color: #302e2a;
}
.review-ratings .rating-label {
    display: block;
}
.page-products .sorter {
    float: left;
}
.modes {
    float: right;
    margin-right: 0;
    margin-left: 20px;
    margin-top: 7px;
}
.modes-mode:before {
    content: '\e880';
    font-size: 14px;
}
.mode-list:before {
    content: '\e87b';
    font-size: 14px;
}
.products.wrapper ~ .toolbar .limiter {
    float: left;
}
.products.wrapper ~ .toolbar .pages {
    float: right;
}
.block-category-list .block-title, .filter-options-title, .filter .filter-current-subtitle {
    padding-left: 0;
    padding-right: 0;
}
.swatch-option.text {
    font-weight: 400;
}
.catalog-category-view .column.main .products-grid {
    padding-top: 20px;
}
@media (min-width: 768px) {
    .product.data.items > .item.title {
        padding: 10px 30px 10px 0;
    }
    .product.data.items > .item.title > .switch {
        font-size: 14px;
        font-weight: 700;
        color: #818692;
        text-transform: uppercase;
        border: none;
        border-radius: 0;
        line-height: 30px;
        background: none;
        padding: 0;
    }
    .product.data.items > .item.title:not(.disabled) > .switch:focus,
    .product.data.items > .item.title:not(.disabled) > .switch:hover {
        background: none;
        color: #818692;
    }
    .product.data.items > .item.title.active > .switch,
    .product.data.items > .item.title.active > .switch:focus,
    .product.data.items > .item.title.active > .switch:hover {
        color: #21293c;
        position: relative;
        border-bottom: #F4631B solid 2px !important;
    }
    .product.data.items > .item.content {
        padding: 35px 0 0;
        margin-top: 45px;
    }
}
.page-header.type2.header-newskin .minicart-wrapper .block-minicart:after {
    right: 17px !important;
}
.page-header.type2.header-newskin .minicart-wrapper .block-minicart:before {
    right: 18px !important;
}
header.page-header.type2 a.action.my-wishlist {
    display: inline-block;
}
.products-grid .product-item .product-item-info .weltpixel-quickview.weltpixel_quickview_button_v2 {
    font-family: inherit;
    letter-spacing: 0;
    font-weight: 600;
}
@media (min-width: 768px) {
    .page-header.type2.header-newskin > .main-panel-top {
        padding: 0;
        border-bottom: none;
    }
    .page-header.type2.header-newskin .panel.header .switcher {
        padding: 0 16px;
        border-left: 1px solid #e7e7e7;
    }
    .page-header.type2.header-newskin .panel.header > .action.skip + .switcher {
        border: 0;
        padding-left: 0;
    }
}
.block.newsletter .action.subscribe {
    border-radius: 5px;
    margin-left: .5em;
}
.cms-index-index header.page-header.type2.header-newskin {
    box-shadow: 0 3px 20px rgba(0,0,0,.35);
}
body.cms-index-index .page-main {
    max-width: 100%;
    padding: 0;
}
body.cms-index-index .columns .column.main {
    padding-bottom: 0;
}