.page-header {
	.navigation {
		li {
			&.ui-menu-item {
				&.level0 {
					&.classic {
						&.parent {
							&.fl-left {
								@media (min-width: 767px) {
									position: static;
								}
							}
						}
					}
					.level0 {
						&.submenu {
							@media (min-width: 767px) {
								width: 100%;
                                height: 480px;
                                padding: 0;
                                box-shadow: 5px 5px 30px rgba(0,0,0,.15);
							}
							.subchildmenu {
                                @media (min-width: 767px) {
                                    padding: 1.5em 0;
                                    min-width: 230px;
                                    height: 480px;
                                    background-color: #f2f2f2;
                                }
								li {
									&.level1 {
										@media (min-width: 767px) {
											position: static;
										}
                                        a {
                                            @media (min-width: 767px) {
                                                display: block;
                                                padding: .5em 1em;
                                                font-size: 13px;
                                                text-transform: unset;
                                                font-weight: 700;
                                                color: #333333;
                                            }
                                        }
                                        &:hover {
                                            a {
                                                @media (min-width: 767px) {
                                                    color: #e30b19;
                                                    background-color: #e2e2e2;
                                                }
                                            }
                                            .subchildmenu {
                                                li {
                                                    a {
                                                        @media (min-width: 767px) {
                                                            color: #333333;
                                                            background-color: white;
                                                        }
                                                    }
                                                }
                                            }
                                        }
									}
								}
								.subchildmenu {
									@media (min-width: 767px) {
                                        display: none;
										width: 910px;
                                        min-width: auto;
                                        flex-wrap: wrap;
                                        height: 100%;
                                        padding: 1em;
										box-shadow: none;
                                        visibility: visible;
									    opacity: 1;
                                        background-color: white;
                                        top: 0;
                                        z-index: 2;
									}
									li {
										&.level2 {
											@media (min-width: 767px) {
												width: 25%;
											}
                                            a {
                                                @media (min-width: 767px) {
                                                    padding: 0;
                                                    font-size: 12px;
                                                    color: #333333;
                                                }
                                                &:after {
                                                    @media (min-width: 767px) {
                                                        float: none;
                                                    }
                                                }
                                            }
										}
                                        &:hover {
                                            a {
                                                @media (min-width: 767px) {
                                                    color: #e30b19 !important;
                                                    background-color: white;
                                                }
                                            }
                                            .subchildmenu {
                                                li {
                                                    a {
                                                        @media (min-width: 767px) {
                                                            color: #333333;
                                                        }
                                                    }
                                                }
                                            }
                                        }
									}
									.subchildmenu {
										@media (min-width: 767px) {
											width: auto;
                                            height: 110px;
											position: static;
											visibility: visible;
                                            padding: .5em;
                                            margin-bottom: 1em;
											opacity: 1;
											display: block;
                                            overflow: hidden;
										}
										li {
											&.level3 {
												a {
													@media (min-width: 767px) {
														text-transform: unset;
                                                        margin-bottom: .25em;
                                                        font-weight: normal;
                                                        line-height: normal;
													}
												}
                                                &:hover {
                                                    a {
                                                        color: #e30b19;
                                                        text-decoration: underline;
                                                    }
                                                }
											}
										}
									}
								}
							}
                            .subchildmenu {
                                li {
                                    &:hover {
                                        .subchildmenu {
                                            @media (min-width: 767px) {
                                                display: flex;
                                            }
                                            .subchildmenu {
                                                @media (min-width: 767px) {
                                                    display: block;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
						}
					}
				}
			}
		}
	}
}
.sections {
    &.nav-sections {
        @media (max-width: 767px) {
            background-color: white;
            box-shadow: 0 0 25px rgba(0,0,0,.35);
        }
        .nav-sections-items {
            .section-item-title {
                @media (max-width: 767px) {
                    display: none;
                }
            }
            .nav-sections-item-content {
                @media (max-width: 767px) {
                    margin-top: 1.5em;
                }
            }
            .navigation {
                ul {
                    .level0 {
                        @media (max-width: 767px) {
                            border-top: none;
                        }
                        &:last-child {
                            @media (max-width: 767px) {
                                border-bottom: none;
                            }
                        }
                        .level-top {
                            @media (max-width: 767px) {
                                font-size: 16px;
                                color: #333333 !important;
                                text-transform: unset;
                                font-weight: 700;
                            }
                            &:after {
                                @media (max-width: 767px) {
                                    font-size: 26px;
                                }
                            }
                            &.ui-state-active {
                                @media (max-width: 767px) {
                                    background-color: white;
                                }
                            }
                        }
                        &.classic {
                            &.parent {
                                &.fl-left {
                                    .level-top {
                                        @media (max-width: 767px) {
                                            color: #e30b19 !important;
                                        }
                                    }
                                }
                            }
                        }
                        .submenu {
                            @media (max-width: 767px) {
                                border-top: none;
                                background-color: #f2f2f2;
                            }
                            .row {
                                @media (max-width: 767px) {
                                    margin-left: 0;
                                    margin-right: 0;
                                }
                            }
                            .subchildmenu  {
                                .level1 {
                                    .open-children-toggle {
                                        @media (max-width: 767px) {
                                            display: none;
                                        }
                                    }
                                    a {
                                        @media (max-width: 767px) {
                                            font-size: 14px;
                                            color: #333333 !important;
                                        }
                                        &:before {
                                            @media (max-width: 767px) {
                                                color: #e30b19;
                                            }
                                        }
                                    }
                                    .subchildmenu  {
                                        @media (max-width: 767px) {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}